.container
  %h2 ToDos
  %table.table
    %thead
      %tr
        %th Title
        %th Text
    %tbody
      - @todos.each do |todo|
        %tr
          %td= todo.title
          %td= todo.text

.modal-container

= link_to('New ToDo', todos_new_path, remote: true)
